In [6]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import os

In [12]:
basedir = './wave6/'

for file in os.listdir(basedir):
    print(file)

FileNotFoundError: [Errno 2] No such file or directory: './wave6/'

In [14]:
ind = pd.read_excel('Important_child_qualities_unselfishness.xlsx')
print(ind.shape)
ind.head()

(4, 62)

,Value,TOTAL,Algeria,Azerbaijan,Argentina,Australia,Armenia,Brazil,Belarus,Chile,...,Thailand,Trinidad and Tobago,Tunisia,Turkey,Ukraine,Egypt,United States,Uruguay,Uzbekistan,Yemen
0,Important,34.000,34.3,21.700,42.30,49.200,24.1,31.500,13.900,42.7,...,44.3,16,33.200,27.700,19.9,29.200,32.700,52.9,23.5,31
1,Not mentioned,66.000,65.7,78.300,57.70,50.800,75.9,68.500,86.100,57.3,...,55.7,84,66.800,72.300,80.1,70.800,67.300,47.1,76.5,69
2,HT: Dropped out survey;DE: Inapplicable;RU: In...,0.000,0.0,0.000,0.00,0.000,0.0,0.000,0.000,0.0,...,0.0,0,0.000,0.000,0.0,0.000,0.000,0.0,0.0,0
3,N,89.565,1.2,1.002,1.03,1.477,1.1,1.486,1.535,1.0,...,1.2,999,1.205,1.605,1.5,1.523,2.232,1.0,1.5,1

In [17]:
countries = []
avoid = ['Value', 'TOTAL']
for col in ind:
    if col not in avoid:
        countries.append(col)

In [18]:
print(countries)

['Algeria', 'Azerbaijan', 'Argentina', 'Australia', 'Armenia', 'Brazil', 'Belarus', 'Chile', 'China', 'Taiwan', 'Colombia', 'Cyprus', 'Ecuador', 'Estonia', 'Georgia', 'Palestine', 'Germany', 'Ghana', 'Haiti', 'Hong Kong', 'India', 'Iraq', 'Japan', 'Kazakhstan', 'Jordan', 'South Korea', 'Kuwait', 'Kyrgyzstan', 'Lebanon', 'Libya', 'Malaysia', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand', 'Nigeria', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Singapore', 'Slovenia', 'South Africa', 'Zimbabwe', 'Spain', 'Sweden', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine', 'Egypt', 'United States', 'Uruguay', 'Uzbekistan', 'Yemen']

In [20]:
from bs4 import BeautifulSoup  
import requests

In [38]:
baseurl = 'https://www.geodatos.net/en/coordinates/'
coord_map = {}

for country in countries:
    url = baseurl + country
    try:
        r = requests.get(url)
        soup = BeautifulSoup(r.content, 'html5lib')
        ps = soup.select('p', attr = {"class":'text-info nomargin'})
        text = ps[3].text.split(',')
        x = text[0]
        y = text[1]
        coord_map[country] = (x,y)
    except:
        print("Access for country: {} did not work".format(country))

Access for country: Palestine did not work

In [39]:
coord_map

{'Algeria': ('28.033886', ' 1.659626'),
 'Azerbaijan': ('40.1431046', ' 47.5769272'),
 'Argentina': ('-38.4160957', ' -63.6166725'),
 'Australia': ('-25.2743988', ' 133.7751312'),
 'Armenia': ('40.0690994', ' 45.0381889'),
 'Brazil': ('-14.2350044', ' -51.9252815'),
 'Belarus': ('53.7098083', ' 27.9533882'),
 'Chile': ('-35.675148', ' -71.5429688'),
 'China': ('35.86166', ' 104.1953964'),
 'Taiwan': ('23.6978092', ' 120.9605179'),
 'Colombia': ('4.570868', ' -74.2973328'),
 'Cyprus': ('35.1264114', ' 33.4298592'),
 'Ecuador': ('-1.831239', ' -78.183403'),
 'Estonia': ('58.5952721', ' 25.013607'),
 'Georgia': ('42.3154068', ' 43.3568916'),
 'Germany': ('51.1656914', ' 10.4515257'),
 'Ghana': ('7.946527', ' -1.023194'),
 'Haiti': ('18.9711876', ' -72.2852173'),
 'Hong Kong': ('22.3964272', ' 114.1094971'),
 'India': ('20.5936832', ' 78.962883'),
 'Iraq': ('33.2231903', ' 43.6792908'),
 'Japan': ('36.2048225', ' 138.2529297'),
 'Kazakhstan': ('48.0195732', ' 66.9236832'),
 'Jordan': ('30.5851631', ' 36.2384148'),
 'South Korea': ('35.9077568', ' 127.766922'),
 'Kuwait': ('29.3116608', ' 47.4817657'),
 'Kyrgyzstan': ('41.20438', ' 74.766098'),
 'Lebanon': ('33.8547211', ' 35.8622856'),
 'Libya': ('26.3351002', ' 17.2283306'),
 'Malaysia': ('4.210484', ' 101.975769'),
 'Mexico': ('23.6345005', ' -102.5527878'),
 'Morocco': ('31.7917023', ' -7.0926199'),
 'Netherlands': ('52.1326332', ' 5.291266'),
 'New Zealand': ('-40.9005585', ' 174.8859711'),
 'Nigeria': ('9.0819988', ' 8.6752768'),
 'Pakistan': ('30.3753204', ' 69.3451157'),
 'Peru': ('-9.1899672', ' -75.015152'),
 'Philippines': ('12.8797207', ' 121.7740173'),
 'Poland': ('51.9194374', ' 19.1451359'),
 'Qatar': ('25.354826', ' 51.1838837'),
 'Romania': ('45.943161', ' 24.9667606'),
 'Russia': ('61.5240097', ' 105.3187561'),
 'Rwanda': ('-1.9402781', ' 29.873888'),
 'Singapore': ('1.352083', ' 103.8198395'),
 'Slovenia': ('46.1512413', ' 14.9954634'),
 'South Africa': ('-30.5594826', ' 22.9375057'),
 'Zimbabwe': ('-19.0154381', ' 29.1548576'),
 'Spain': ('40.4636688', ' -3.7492199'),
 'Sweden': ('60.1281624', ' 18.6435013'),
 'Thailand': ('15.8700323', ' 100.9925385'),
 'Trinidad and Tobago': ('10.691803', ' -61.2225037'),
 'Tunisia': ('33.8869171', ' 9.5374994'),
 'Turkey': ('38.9637451', ' 35.2433205'),
 'Ukraine': ('48.3794327', ' 31.1655807'),
 'Egypt': ('26.8205528', ' 30.8024979'),
 'United States': ('37.0902405', ' -95.7128906'),
 'Uruguay': ('-32.5227776', ' -55.7658348'),
 'Uzbekistan': ('41.377491', ' 64.5852585'),
 'Yemen': ('15.5527267', ' 48.5163879')}

In [49]:
country_df = pd.DataFrame()

for country in coord_map:
    lat, long = coord_map[country]
    country_df = country_df.append({"Country":country, "Latitude": lat, "Longitude": long}, ignore_index = True)

In [50]:
country_df

                Country     Latitude      Longitude
0               Algeria    28.033886       1.659626
1            Azerbaijan   40.1431046     47.5769272
2             Argentina  -38.4160957    -63.6166725
3             Australia  -25.2743988    133.7751312
4               Armenia   40.0690994     45.0381889
5                Brazil  -14.2350044    -51.9252815
6               Belarus   53.7098083     27.9533882
7                 Chile   -35.675148    -71.5429688
8                 China     35.86166    104.1953964
9                Taiwan   23.6978092    120.9605179
10             Colombia     4.570868    -74.2973328
11               Cyprus   35.1264114     33.4298592
12              Ecuador    -1.831239     -78.183403
13              Estonia   58.5952721      25.013607
14              Georgia   42.3154068     43.3568916
15              Germany   51.1656914     10.4515257
16                Ghana     7.946527      -1.023194
17                Haiti   18.9711876    -72.2852173
18            Hong Kong   22.3964272    114.1094971
19                India   20.5936832      78.962883
20                 Iraq   33.2231903     43.6792908
21                Japan   36.2048225    138.2529297
22           Kazakhstan   48.0195732     66.9236832
23               Jordan   30.5851631     36.2384148
24          South Korea   35.9077568     127.766922
25               Kuwait   29.3116608     47.4817657
26           Kyrgyzstan     41.20438      74.766098
27              Lebanon   33.8547211     35.8622856
28                Libya   26.3351002     17.2283306
29             Malaysia     4.210484     101.975769
30               Mexico   23.6345005   -102.5527878
31              Morocco   31.7917023     -7.0926199
32          Netherlands   52.1326332       5.291266
33          New Zealand  -40.9005585    174.8859711
34              Nigeria    9.0819988      8.6752768
35             Pakistan   30.3753204     69.3451157
36                 Peru   -9.1899672     -75.015152
37          Philippines   12.8797207    121.7740173
38               Poland   51.9194374     19.1451359
39                Qatar    25.354826     51.1838837
40              Romania    45.943161     24.9667606
41               Russia   61.5240097    105.3187561
42               Rwanda   -1.9402781      29.873888
43            Singapore     1.352083    103.8198395
44             Slovenia   46.1512413     14.9954634
45         South Africa  -30.5594826     22.9375057
46             Zimbabwe  -19.0154381     29.1548576
47                Spain   40.4636688     -3.7492199
48               Sweden   60.1281624     18.6435013
49             Thailand   15.8700323    100.9925385
50  Trinidad and Tobago    10.691803    -61.2225037
51              Tunisia   33.8869171      9.5374994
52               Turkey   38.9637451     35.2433205
53              Ukraine   48.3794327     31.1655807
54                Egypt   26.8205528     30.8024979
55        United States   37.0902405    -95.7128906
56              Uruguay  -32.5227776    -55.7658348
57           Uzbekistan    41.377491     64.5852585
58                Yemen   15.5527267     48.5163879

In [51]:
country_df.to_csv('country_coords', index=False)